<!-- <app-navbar></app-navbar> -->
<section class="intro">
    <div class="bg-image h-100" style="background-color: #ffffff;">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12" style="width: 80%;">
              <div class="card shadow-2-strong" style="background-color: #ffffff; border: 0;">
                <div class=" " >

    <div class="container" style="padding-top: 100px; margin: 50px;">
      <h1 class="h3 fw-bold mb-3 pb-3 text-left" style="letter-spacing: 1px;">Car Model Name</h1>
  
    <div class="row ">
      <div class="col-md-12 ">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div id="3d-container"  class=" d-flex justify-content-center align-items-center"  #modelContainer  style="height: 400px; width: 100%; border-style: dotted;">
            <!-- Content for the square -->
            
          </div>
          <div class="mt-2 d-flex justify-content-center align-items-center" style="width: 100%;">
  
            <div class="bg-secondary mx-1" style="height: 80px; width: 80px;"></div>
            <div class="bg-secondary mx-1" style="height: 80px; width: 80px;"></div>
            <div class="bg-secondary mx-1" style="height: 80px; width: 80px;"></div>
          </div>
        </div>
      </div>

      </div>
      </div>
  
      <div class="form-outline mb-4">
        <label class="form-label " for="form6Example7">Car descreption</label>

        <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea rem ipsam, reiciendis voluptatibus facilis sit dolore, dolores obcaecati autem atque ipsa quibusdam, molestiae suscipit? Delectus cumque illo inventore placeat officia. 
        </p>

    </div>  
  
    <div class="mt-4">
      <label class="form-label " for="form6Example7">Colors</label>
      <!-- <button type="button" (click)="showPopup = true">Open Popup</button> -->
      <!-- <app-color-popup *ngIf="showPopup" (closePopup)="showPopup = false"
      (passColor)="AddColor($event)"
      ></app-color-popup> -->
      <!-- <ul>
        <li *ngFor="let color of colors">
          {{color.name}}
        </li>
      </ul> -->
      <div class="mt-2 d-flex  align-items-center" style="width: 100%;">
        <div   class=" mx-1 button"  ></div>
        <div class="mx-1 button" >
          <i class="bi bi-plus"></i>
        </div>
        
      </div>
    <!-- <textarea 
    name="descriptiom"  
    class="form-control" id="form6Example7" rows="4"></textarea> -->
  </div>
  
    <div class="mt-4">
    <label for="formFileLg" class="form-label">Categorie</label>
    <select 
    name="categorie" 
    class="form-select form-select-lg" style=" font-size: 20px;">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
    <div class="mt-4">
      <label for="formFileLg" class="form-label">Price</label>
      <input 
      name="price" 
      name="text"  required class="form-control form-control-lg" type="number" >
    </div>
    <div class="mt-4">
      <label for="formFileLg" class="form-label">Max Speed</label>
      <input 
      name="speed"
      name="text"  required class="form-control form-control-lg" type="number" >
    </div>
  
  
    <button type="submit" class="btn btn-primary btn-block mb-4" style="background: black; border: 0;">Save</button>

  
  
  
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
    