<header class="main-header position-fixed w-100" style="background-color: white;">
    <div class="container">
        <nav class="navbar navbar-expand-xl py-0">
            <div class="logo">
                <a class="navbar-brand py-0 me-0" href="#"><img src="../assets/images/logo1.svg" alt="" style="width: 200px ;"></a>
            </div>
            <a class="d-inline-block d-lg-block d-xl-none d-xxl-none  nav-toggler text-decoration-none"  data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">
                <i class="ti ti-menu-2 text-warning"></i>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">                                             
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-capitalize" aria-current="page" routerLink="/CreateShowroom">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-capitalize">Pricing</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-capitalize" routerLink="/UploadCar">Elements </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-capitalize" href="#">blog</a>
                        </li>
                        <li *ngIf="loggedIn==true" class="nav-item">
                            <a class="nav-link text-capitalize" style="font-weight: bold; color: rgb(30, 4, 146);"  href="#"> <i class="bi bi-grid-1x2-fill"></i>  My Space </a>
                            
                        </li>
                    </ul>
                    <div class="d-flex align-items-center">
                        <!-- <div class="input-group  search">
                            <button class="btn border-0 p-0" type="button" id="button-addon1"><i class="ti ti-search text-white"></i></button>
                            <input type="text" class="form-control border-0 bg-transparent ps-2" placeholder="search" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div> -->
                        <a *ngIf="loggedIn==false" class="btn btn-warning  btn-hover-secondery text-capitalize "  routerLink="/login" style="background-color: rgb(4, 72, 218);">Log in</a>
                        <div *ngIf="loggedIn==true" ngbDropdown class="d-inline-block">
                            <button type="button" class="btnDrop btn  " id="dropdownBasic1" ngbDropdownToggle>
                                {{userName}}
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <a routerLink="/profil" ngbDropdownItem>Profil</a>
                                <button (click)="Logout()" ngbDropdownItem>Log out</button>
                            </div>
                        </div>

                     
                       
                    </div>
            </div>
        </nav>
    </div>

    <!-- <div class="offcanvas offcanvas-start"  tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <div class="logo">
                <a class="navbar-brand py-0 me-0" href="#"><img src="../assets/images/logo.svg" alt=""></a>
            </div> 
            <button type="button" class="btn-close text-reset  ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"><i class="ti ti-x text-warning"></i></button>
        </div>
        <div class="offcanvas-body pt-0">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-capitalize" aria-current="page" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" href="#">Pricing </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" href="#">Elements </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" href="#">blog </a>
                </li>
                </ul>
                <div class="login d-block align-items-center mt-3">
                    <a class="btn btn-warning text-capitalize w-100" href="#">contact us</a>
                </div>
        </div>
    </div> -->
</header>