<section class="hero-banner position-relative overflow-hidden ">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center justify-content-center">
            <!-- first div -->
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="position-relative left-hero-color">
                    <h1 class="mb-0 fw-bold">
                        The Future of Car Sales is Here
                    </h1>
                    <p> Create Your Virtual Reality Showroom Today</p>
                    <a href="#" class="btn btn-warning btn-hover-secondery"><span class="">    <i class="fa-brands fa-youtube fa-beat mx-1" style="color: #ffffff;"></i> </span> Discover this Video</a>
                </div>
            </div>
            <!-- second div div -->
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="position-relative right-hero-color">
                    <img src="assets/images/right-image.svg" class="img-fluid"> 
                </div>          
            </div>
        </div>
    </div>
</section>
<section class="service position-relative overflow-hidden">
    <div class="container position-relative">
        <img src="../assets/images/service/dot-shape.png" class="shape position-absolute">
        <div class="row">
            <div class="col-12"><small class="fs-7 d-block">Working Process</small></div>
            <div class="col-12 d-xxl-flex d-xl-flex d-lg-flex d-md-flex d-sm-block d-block align-items-center justify-content-xxl-between justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-sm-between justify-content-sm-center ">
                <h2 class="fs-2 text-black mb-0">Our Featured Service<br> that We Provide</h2>
                <a href="#" class="btn btn-warning btn-hover-secondery section-btn">All Services</a>
            </div>
        </div>
        <div class="row d-flex flex-wrap justify-content-center step-row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="icon-round overflow-hidden rounded-circle position-relative d-flex align-items-center justify-content-center mx-auto text-center">
                            <i  class="bi bi-person-fill-add" style="color: #1d2f4e;"></i>                        </div>
                        <h5 class="mb-0 fw-500">Step 1</h5>
                        <h3 class="fs-4">Create Account</h3>
                        <p class="fs-7 mb-0 fw-500">There are many variations of pass for ages of oremsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="icon-round overflow-hidden rounded-circle position-relative d-flex align-items-center justify-content-center mx-auto text-center">
                            <i class="bi bi-binoculars" style="color: #1d2f4e;" ></i>
                        </div>
                        <h5 class="mb-0 fw-500">Step 2</h5>
                        <h3 class="fs-4">Create your Showroom</h3>
                        <p class="fs-7 mb-0 fw-500">There are many variations of pass for ages of oremsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="icon-round overflow-hidden rounded-circle position-relative d-flex align-items-center justify-content-center mx-auto text-center">
                            <i class="bi bi-cloud-arrow-up-fill" style="color: #1d2f4e;" ></i>
                        </div>
                        <h5 class="mb-0 fw-500">Step 3</h5>
                        <h3 class="fs-4">Upload your Car modele</h3>
                        <p class="fs-7 mb-0 fw-500">There are many variations of pass for ages of oremsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio position-relative bg-primary">
    <div class="container position-relative">
        <div class="row">
            <div class="col-12"><small class="fs-7 d-block text-warning">Product Docs</small></div>
            <div class="col-12 d-xxl-flex d-xl-flex d-lg-flex d-md-flex d-sm-block d-block align-items-center justify-content-xxl-between justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-sm-between justify-content-sm-center ">
                <h2 class="fs-3 text-white mb-0">Get Started <br> Create your Showroom NOW!</h2>
                <a href="#" class="btn btn-warning btn-hover-secondery section-btn">Open Portfolio</a>
            </div>
        </div>
        <div class="row d-flex flex-wrap justify-   -center step-row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                <div class="card bg-transparent">
                    <div class="card-body">
                        <div class="icon mx-auto rounded-circle d-flex justify-content-center align-items-center"><i class="ti ti-brand-github text-white"></i></div>
                        <h3 class="fs-4 text-white">Github Sync</h3>
                        <p class="fs-7 mb-0 fw-500">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                <div class="card bg-transparent">
                    <div class="card-body">
                        <div class="icon  mx-auto rounded-circle d-flex justify-content-center align-items-center"><i class="ti ti-crown text-white"></i></div>
                        <h3 class="fs-4 text-white">Branding</h3>
                        <p class="fs-7 mb-0 fw-500">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                <div class="card bg-transparent">
                    <div class="card-body">
                        <div class="icon mx-auto rounded-circle d-flex justify-content-center align-items-center"><i class="ti ti-message-circle-2 text-white"></i></div>
                        <h3 class="fs-4 text-white">Comments</h3>
                        <p class="fs-7 mb-0 fw-500">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container position-relative" >
        <div class="portfolio-wrap">
            <div class="owl-carousel owl-theme portfolio-slider">
                    <div class="item"><a href="#"><img src="../assets/images/portfolio/Portfolio.jpg" class="w-100"></a></div>
                    <div class="item"><a href="#"><img src="../assets/images/portfolio/Portfolio.jpg" class="w-100"></a></div>
                    <div class="item"><a href="#"><img src="../assets/images/portfolio/Portfolio.jpg" class="w-100"></a></div>
                    <div class="item"><a href="#"><img src="../assets/images/portfolio/Portfolio.jpg" class="w-100"></a></div>
                    <div class="item"><a href="#"><img src="../assets/images/portfolio/Portfolio.jpg" class="w-100"></a></div>
            </div>
        </div>    
    </div>    
</section>